/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo de la página */
body {
    color: #333;
    background-color: #d4d4d4;
    padding: 20px;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
/* Estilo del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
}

/* Estilo del menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo del contenedor principal */
.contenedor {
    margin-bottom: 20px;
    text-align: center;
}

.contenedor .subtitulo {
    margin-bottom: 10px;
    color: #555;
}

/* Estilo del contenedor de imágenes */
.contenedor-imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contenedor-imagenes .imagen {
    max-width: 30%;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
}

.contenedor-imagenes .imagen:hover {
    transform: scale(1.05);
}

/* Estilo del contenido */
.contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}